body {
    display: flex;
    align-items: center;
    justify-content: center;

}
.Navandtitle {
    height: 100%;
        position: fixed;

}

.Nav {
    background-color: rgba(180, 58, 58, 0.5);
    width: 100vw;
    text-align: center;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 20;
}

.Title {
        
        max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(160, 157, 157, 0.5);
        }

.header {
            text-align: center;

}



.Main {
  margin-top:5em;
        display:flex;
    flex-direction: column;
max-height: 80vh;
width: 70vw;
overflow: auto;
border: 1px dotted;
padding: 1em;
}

.Post-date {
    color:red
}



.News {
    width: 20em;
    border:1px solid;
}

.paragraph {
    color: blue;
    text-align: left;
}
        
.Navbar-link {
    margin-right: 1em;
}
.Title {
    align-items: center;
}